.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.pokemon-item {
    width: 100%;
    max-width: 200px;
}
